@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
  color: #424242; }

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0; }

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; }

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none; }

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block; }

a {
  outline: none; }

.button {
  display: block;
  background-color: #f14150;
  transition: box-shadow 0.2s;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fcfcfc;
  box-shadow: 0px 0px 10px #5f1419, 0 0 10px #ffffff00 inset; }
  .button:hover {
    box-shadow: 0px 0px 2px #5f1419, 0 0 10px #ffffff00 inset; }
  .button:active {
    box-shadow: 0px 0px 0px #5f1419, 0 0 10px #5f1419 inset; }
  .button_size_2x48px {
    width: 148px;
    height: 48px;
    border-radius: 15px;
    line-height: 48px;
    font-size: 1.5em; }
    .button_size_2x48px.button_type_square {
      border-radius: 0px; }
    .button_size_2x48px.button_type_round {
      border-radius: 15px; }
    .button_size_2x48px.button_type_left {
      border-radius: 15px  0px 0px 15px; }
    .button_size_2x48px.button_type_right {
      border-radius: 0px 15px 15px 0px; }
  .button_size_3x48px {
    width: 228px;
    height: 48px;
    border-radius: 15px;
    line-height: 48px;
    font-size: 1.5em; }
    .button_size_3x48px.button_type_square {
      border-radius: 0px; }
    .button_size_3x48px.button_type_round {
      border-radius: 15px; }
    .button_size_3x48px.button_type_left {
      border-radius: 15px  0px 0px 15px; }
    .button_size_3x48px.button_type_right {
      border-radius: 0px 15px 15px 0px; }
  .button_size_2x64px {
    width: 148px;
    height: 64px;
    border-radius: 15px;
    line-height: 64px;
    font-size: 1.8em; }
    .button_size_2x64px.button_type_square {
      border-radius: 0px; }
    .button_size_2x64px.button_type_round {
      border-radius: 15px; }
    .button_size_2x64px.button_type_left {
      border-radius: 15px  0px 0px 15px; }
    .button_size_2x64px.button_type_right {
      border-radius: 0px 15px 15px 0px; }
  .button_size_3x64px {
    width: 228px;
    height: 64px;
    line-height: 64px;
    font-size: 1.8em; }
    .button_size_3x64px.button_type_square {
      border-radius: 0px; }
    .button_size_3x64px.button_type_round {
      border-radius: 15px; }
    .button_size_3x64px.button_type_left {
      border-radius: 15px  0px 0px 15px; }
    .button_size_3x64px.button_type_right {
      border-radius: 0px 15px 15px 0px; }

.toggle-button input {
  display: none; }
.toggle-button__label {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  font-size: 2em;
  font-weight: bold;
  color: #424242;
  border: 4px solid #424242; }
input:checked + .toggle-button__label {
  border: 4px solid #f14150; }
  input:checked + .toggle-button__label span {
    color: #f14150; }
.toggle-button_size_normal {
  width: 144px;
  height: 64px; }
  .toggle-button_size_normal .toggle-button__label {
    border-width: 4px; }
.toggle-button_size_small {
  width: 64px;
  height: 32px; }
  .toggle-button_size_small .toggle-button__label {
    font-size: 0.875em; }

.date {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .date__day-of-week {
    width: 100%;
    height: 23%;
    display: block;
    line-height: 1;
    background: #f14150;
    color: #fcfcfc;
    font-weight: 600;
    text-align: center; }
  .date__month-date {
    color: #424242;
    height: 77%;
    display: block;
    line-height: 1;
    text-align: center; }
  .date_size_small {
    width: 61px;
    height: 61px;
    box-shadow: 0 0 5px #424242;
    border-radius: 14px; }
    .date_size_small .date__day-of-week {
      height: 18px;
      border-radius: 0 0 14px 14px;
      font-size: 80%; }
    .date_size_small .date__month-date {
      font-size: 43px; }
  .date_size_normal {
    width: 92px;
    height: 92px;
    box-shadow: 0 0 5px #424242;
    border-radius: 21px; }
    .date_size_normal .date__day-of-week {
      border-radius: 0 0 15px 15px;
      font-size: 1.25em; }
    .date_size_normal .date__month-date {
      font-size: 73px; }
  .date_size_larg {
    width: 148px;
    height: 148px;
    box-shadow: 0 0 5px #424242;
    border-radius: 32px; }
    .date_size_larg .date__day-of-week {
      border-radius: 0 0 32px 32px;
      font-size: 32px; }
    .date_size_larg .date__month-date {
      font-size: 118px; }

.table {
  border-collapse: collapse; }
  .table__header {
    text-align: right;
    border-bottom: 2px solid #808080;
    vertical-align: bottom;
    height: 54px;
    width: 92px;
    font-size: 1.15em; }
    .table__header:first-child {
      text-align: left; }
  .table__data {
    text-align: right;
    border-bottom: 2px solid #808080;
    vertical-align: center;
    height: 54px;
    font-size: 1em; }
    .table__data:first-child {
      text-align: left; }
  .table tr:last-of-type .table__data, .table__header {
    border: none; }

.block {
  box-shadow: 0 0 10px #424242;
  border-radius: 15px; }

.search-block {
  height: 710px;
  display: flex;
  flex-direction: column; }
  .search-block .select-list {
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 388px;
    color: #808080;
    font-size: 1.25em;
    font-weight: 800; }
    .search-block .select-list input {
      display: none; }
    .search-block .select-list__item input:checked + .select-list__label {
      color: #f14150; }
      .search-block .select-list__item input:checked + .select-list__label::before {
        background: #f14150;
        width: 100%; }
    .search-block .select-list .select-list__label {
      display: block;
      width: 110px;
      margin: 0;
      text-align: center;
      transition: 0.2s; }
      .search-block .select-list .select-list__label::before {
        content: "";
        display: block;
        margin: 0 auto;
        transform: translateY(33px);
        position: relative;
        width: 20px;
        height: 4px;
        background: #808080;
        transition: 0.2s; }
      .search-block .select-list .select-list__label:hover {
        color: #424242; }
        .search-block .select-list .select-list__label:hover::before {
          background: #424242;
          width: 100%; }
  .search-block .search-block__search-result {
    overflow: scroll; }

.select-list {
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 388px;
  color: #808080;
  font-size: 1.25em;
  font-weight: 800; }
  .select-list input {
    display: none; }
  .select-list__item input:checked + .select-list__label {
    color: #f14150; }
    .select-list__item input:checked + .select-list__label::before {
      background: #f14150;
      width: 100%; }
  .select-list .select-list__label {
    display: block;
    width: 110px;
    margin: 0;
    text-align: center;
    transition: 0.2s; }
    .select-list .select-list__label::before {
      content: "";
      display: block;
      margin: 0 auto;
      transform: translateY(33px);
      position: relative;
      width: 20px;
      height: 4px;
      background: #808080;
      transition: 0.2s; }
    .select-list .select-list__label:hover {
      color: #424242; }
      .select-list .select-list__label:hover::before {
        background: #424242;
        width: 100%; }

.text-field {
  height: 48px;
  width: 100%;
  display: block;
  position: relative; }
  .text-field .text-field__input {
    display: block;
    outline: none;
    height: 100%;
    width: 100%;
    border: 2px solid #c1c1c1;
    border-radius: 15px;
    transition: 0.2s;
    font-size: 1.25em;
    color: #c1c1c1;
    padding: 0px 12px; }
    .text-field .text-field__input:focus {
      border: 2px solid #424242;
      color: #424242; }
      .text-field .text-field__input:focus + .text-field__label {
        color: #424242; }
  .text-field__label {
    position: absolute;
    display: block;
    padding: 0px 4px 0px 4px;
    line-height: 1;
    font-size: 1em;
    color: #c1c1c1;
    background-color: #fcfcfc;
    transform: translateX(20px) translateY(-55px);
    transition: 0.2s; }

.list .list__item input {
  display: none; }
.list .list__item .list__input + .list__input-label {
  display: block;
  color: #c1c1c1;
  height: 52px;
  width: 100%;
  line-height: 52px;
  border-bottom: 4px solid #c1c1c1;
  display: inline-flex; }
  .list .list__item .list__input + .list__input-label .icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 10px 12px;
    background: #ffffffff;
    transition: 0.4s;
                /*
                &:hover{
                
                    .icon__{
                        &top{
                            stroke:$main_color;
                            stroke-dashoffset:84;
                        }
                        &bottom{
                            stroke-dashoffset:42;
                        }
                    }
                }

                &::before, &::after {
                    transition:0.4s;
                    content:"";
                    display:block;
                    position: relative;
                    width:18px;
                    height:4px;
                    border-radius: 3px;
                    background: $grey;
                    transform-origin: center;
                }
                &::before {
                    left: 12px;
                    top:13px;
                    transform: rotateZ(-45deg);
                }
                &::after {
                    left:2px;
                    top:9px;
                    transform: rotateZ(45deg);
                }
                */ }
    .list .list__item .list__input + .list__input-label .icon__top {
      transition: inherit;
      stroke: #424242;
      stroke-dashoffset: 42; }
    .list .list__item .list__input + .list__input-label .icon__bottom {
      transition: inherit;
      stroke: #c1c1c1;
      stroke-dashoffset: 0; }
.list .list__item .list__sublist {
  margin-left: 18px;
  position: absolute;
  visibility: hidden;
  opacity: 0; }
.list .list__item .list__input:checked ~ .list__sublist {
  transform: translateY(0);
  max-height: unset;
  opacity: 1;
  visibility: visible;
  position: relative; }
.list .list__item .list__input:checked ~ .list__input-label {
  color: #424242;
  border-bottom: none; }
  .list .list__item .list__input:checked ~ .list__input-label .icon__top {
    stroke-dashoffset: 84; }
  .list .list__item .list__input:checked ~ .list__input-label .icon__bottom {
    stroke-dashoffset: 42; }

.food-item {
  width: 340px;
  height: 52px;
  border-bottom: 4px solid #808080;
  display: inline-flex;
  align-items: center;
  color: #808080;
  transition: 0.2s; }
  .food-item:hover {
    color: #424242;
    border-bottom: 4px solid #424242; }
  .food-item__icon {
    height: 32px;
    width: 32px;
    background-color: #424242;
    display: block;
    margin-right: 10px; }

.logo {
  position: static;
  width: 874px;
  height: 128px;
  background-color: #f14150;
  display: inline-flex;
  align-items: center;
  line-height: 128px;
  border-bottom-right-radius: 35px; }
  .logo .logo__icon {
    position: relative;
    margin-left: 86px; }
  .logo .logo__header {
    color: #fcfcfc;
    font-size: 64px;
    position: relative;
    margin-left: 48px; }

.heading {
  color: #424242;
  font-family: Arial, Helvetica, sans-serif; }

.progressbar {
  background: #c1c1c1;
  height: 30px;
  width: 100px;
  border-radius: 5px; }
  .progressbar__fill {
    height: 100%;
    width: 50%;
    background-color: #68d97b;
    border-radius: 5px; }

/*# sourceMappingURL=style.css.map */
