@import "colors";

.progressbar{
    background: $grey;
    height:30px;
    width:100px;
    border-radius: 5px;
    &__fill{
        height: 100%;
        width:50%;
        background-color: $additional_color;
        border-radius: 5px;
    }
}