@import "colors";

.header{
    min-width:1600px;
    height:128px;

    display:flex;
    flex-direction: row;
    justify-content: flex-start;

    .header__logo{
        .logo{
            width:634px;
        }
    }

    .header__navigation{
        width:100%;
        display:flex;
        justify-content: center;
        .header__links{
           
            align-self: center;
            display:flex;
            flex-direction: row;
            justify-content: center;
            margin-left:-52px;
            .button{
                margin-right: 12px;
            }

        }        
    }
}

.statistics{

    margin-top:64px;
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;

    &__graph{
        width:708px;
        height:560px;
        margin-bottom:12px;
        display:flex;
        flex-direction: column;
        align-items: center;

        &-dates{
            width:548px;
            display:flex;
            flex-direction: row;;
            justify-content: space-between;
        }

    }

    &__elements, &__recomendations{

        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;


        .block{
            width:468px;
            height:274px;
            margin:0 0px 12px 12px;
        }
    }
    
    &__header{
        margin:12px 0px 18px 80px;
    }

    @media screen and(max-width:1600px){
        .statistics__recomendations{
            flex-direction: row;
        }
    }

    @media screen and(max-width:1200px) {
        .statistics__elements{
            flex-direction: row;
        }
    }

    &__bfc{
        .statistics__diogram{
            margin:12px 12px 12px 12px;
            position: relative;
            line-height: 1;
    
            &-text{
                position: absolute;
                left:57px;
                top: 62px;
                h3:last-child{
                    color:$additional_color;
                    font-weight: bold;
                }
            }
        }

    }

    &__flex-wraper{
        display: flex;
        flex-direction:row;
        align-items: flex-start;
        justify-content: center;
    }

    &__bfc-data{
        &-table{
            table-layout: auto;
            width:100%;
        }

        &-row{

        }

        &-cell{
            margin: 0 24px;
            height:50px;
            font-weight:bold;
            color: $dark_color;
            font-size:  1em;
            text-align: left;
        }
    }

}

.additional-data{
    margin:68px 0;
    display:flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;

    &__block{
        display:flex;
        flex-direction: column;
        align-items: center;
        width:548px;
        margin:6px;
        
        .additional-data__header{
        display:flex;
        justify-content: space-between;
        margin:24px;
        width:412px;
            &-nav{
                display:flex;
                justify-content: space-between;
                width:148px
            }
        }
    }
    &__table{
        margin:24px;
        width:412px;
    }

    .button{
        margin-bottom:24px;
    }
}