<form [formGroup]="registration" novalidate (ngSubmite)="submit()" class="wraper">
    <h3>Регистрация</h3>
    <div class="text-field">
        <input formControlName="email" class="text-field__input" type="text" name="email" id="email">
        <label class="text-field__label" for="email">email</label>
      </div>
      <div class="text-field">
        <input formControlName="password" value="password" class="text-field__input" type="password" name="password" id="password">
        <label class="text-field__label" for="password">password</label>
      </div>
      <div class="text-field">
        <input formControlName="passwordRepeat" value="passwordRepeat" class="text-field__input" type="password" name="password" id="password">
        <label class="text-field__label" for="password">password</label>
      </div>
      <button (click)="submit()" [disabled]="registration.invalid" class="button button_size_3x48px button_type_round">регистрация</button>
    </form>
