<div class="diery-block__search">
  <div class="block search-block">
    <ul class="select-list">
      <li class="select-list__item">
        <input type="radio" name="select-item" id="select-item-favorites">
        <label (click)="selectList('favorit')" class="select-list__label" for="select-item-favorites">избранное</label>
      </li>
      <li class="select-list__item">
        <input type="radio" checked name="select-item" id="select-item-search" >
        <label (click)="selectList('search')" class="select-list__label" for="select-item-search">поиск</label>
      </li>
    </ul>

    <div class="search-block__controls">
      <div class="text-field">
        <input class="text-field__input" type="text" [(ngModel)] = searchString name="text" id="text">
        <label class="text-field__label" for="text">field name</label>
      </div>
    </div>
    <div class="search-block__search-result">
      <ul *ngIf="selectedType=='search'" class="list">
        <li *ngFor="let foodCat of foodCategory"  class="list__item">
          <div *ngIf="foodCat.items.length > 0">
            <input class="list__input" type="checkbox" name="category" [attr.id]="'category-'+foodCat.name">
            <label class="list__input-label" [attr.for]="'category-'+foodCat.name">
              <svg class="icon" width="32px" height="32px" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <path class="icon__bottom" d="M 2 10 L 16 24 L 30 10  " fill="none" stroke="#808080"
                  stroke-linejoin="round" stroke-width="6px" stroke-dasharray="42" stroke-dashoffset="0" />
                <path class="icon__top" d="M 2 24 L 16 10 L 30 24  " fill="none" stroke="#808080"
                  stroke-linejoin="round" stroke-width="6px" stroke-dasharray="42" stroke-dashoffset="42" />
              </svg>
              <h4>{{foodCat.name}}</h4>
            </label>
            <ul class="list__sublist">
              <li *ngFor="let foodItem of foodCat.items" class="list__subitem">
                <div class="food-item">
                  <div class="food-item__icon food-item__icon_type_none"></div>
                  <div class="food-item__text">
                    <div class="food-item__title">
                      <h4>{{foodItem.name}}</h4>
                    </div>
                    <div class="food-item__descriprion">вес:{{foodItem.weight}}, ккал:{{foodItem.normalKkal}}</div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
      <ul *ngIf="selectedType=='favorit'"class="list">
        <li *ngFor="let foodCat of favoriteFoodCategory"  class="list__item">
          <div *ngIf="foodCat.items.length > 0">
            <input class="list__input" type="checkbox" name="category" [attr.id]="'category-'+foodCat.name">
            <label class="list__input-label" [attr.for]="'category-'+foodCat.name">
              <svg class="icon" width="32px" height="32px" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <path class="icon__bottom" d="M 2 10 L 16 24 L 30 10  " fill="none" stroke="#808080"
                  stroke-linejoin="round" stroke-width="6px" stroke-dasharray="42" stroke-dashoffset="0" />
                <path class="icon__top" d="M 2 24 L 16 10 L 30 24  " fill="none" stroke="#808080"
                  stroke-linejoin="round" stroke-width="6px" stroke-dasharray="42" stroke-dashoffset="42" />
              </svg>
              <h4>{{foodCat.name}}</h4>
            </label>
            <ul class="list__sublist">
              <li *ngFor="let foodItem of foodCat.items" class="list__subitem">
                <div class="food-item">
                  <div class="food-item__icon food-item__icon_type_none"></div>
                  <div class="food-item__text">
                    <div class="food-item__title">
                      <h4>{{foodItem.name}}</h4>
                    </div>
                    <div class="food-item__descriprion">вес:{{foodItem.weight}}, ккал:{{foodItem.normalKkal}}</div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>