<div class="diery-block__search">
  <div class="block search-block">
    <ul class="select-list">
      <li class="select-list__item">
        <input type="radio" name="select-item" id="select-item-favorites">
        <label class="select-list__label" for="select-item-favorites">избранное</label>
      </li>
      <li class="select-list__item">
        <input type="radio" checked name="select-item" id="select-item-search">
        <label class="select-list__label" for="select-item-search">поиск</label>
      </li>
    </ul>

    <div class="search-block__controls">
      <div class="text-field">
        <input class="text-field__input" type="text" name="text" id="text">
        <label class="text-field__label" for="text">field name</label>
      </div>
    </div>
    <div class="search-block__search-result">
      <ul class="list">
        <li class="list__item">
          <input class="list__input" type="checkbox" name="category" id="category-1">
          <label class="list__input-label" for="category-1">
            <svg class="icon" width="32px" height="32px" version="1.1" xmlns="http://www.w3.org/2000/svg">
              <path class="icon__bottom" d="M 2 10 L 16 24 L 30 10  " fill="none" stroke="#808080"
                stroke-linejoin="round" stroke-width="6px" stroke-dasharray="42" stroke-dashoffset="0" />
              <path class="icon__top" d="M 2 24 L 16 10 L 30 24  " fill="none" stroke="#808080" stroke-linejoin="round"
                stroke-width="6px" stroke-dasharray="42" stroke-dashoffset="42" />
            </svg>
            <h4>Category</h4>
          </label>
          <ul class="list__sublist">
            <li class="list__subitem">
              <div class="food-item">
                <div class="food-item__icon food-item__icon_type_none"></div>
                <div class="food-item__text">
                  <div class="food-item__title">
                    <h4>Кура гриля</h4>
                  </div>
                  <div class="food-item__descriprion">много, очень</div>
                </div>
              </div>
            </li>
          </ul>
        </li>
        <li class="list__item">
          <input class="list__input" type="checkbox" name="category" id="category-2">
          <label class="list__input-label" for="category-2">
            <svg class="icon" width="32px" height="32px" version="1.1" xmlns="http://www.w3.org/2000/svg">
              <path class="icon__bottom" d="M 2 10 L 16 24 L 30 10  " fill="none" stroke="#808080"
                stroke-linejoin="round" stroke-width="6px" stroke-dasharray="42" stroke-dashoffset="0" />
              <path class="icon__top" d="M 2 24 L 16 10 L 30 24  " fill="none" stroke="#808080" stroke-linejoin="round"
                stroke-width="6px" stroke-dasharray="42" stroke-dashoffset="42" />
            </svg>
            <h4>Category</h4>
          </label>
          <ul class="list__sublist">
            <li class="list__subitem">
              <div class="food-item">
                <div class="food-item__icon food-item__icon_type_none"></div>
                <div class="food-item__text">
                  <div class="food-item__title">
                    <h4>Кура гриля</h4>
                  </div>
                  <div class="food-item__descriprion">много, очень</div>
                </div>
              </div>
            </li>
            <li class="list__subitem">
              <div class="food-item">
                <div class="food-item__icon food-item__icon_type_none"></div>
                <div class="food-item__text">
                  <div class="food-item__title">
                    <h4>Кура гриля</h4>
                  </div>
                  <div class="food-item__descriprion">много, очень</div>
                </div>
              </div>
            </li>
            <li class="list__subitem">
              <div class="food-item">
                <div class="food-item__icon food-item__icon_type_none"></div>
                <div class="food-item__text">
                  <div class="food-item__title">
                    <h4>Кура гриля</h4>
                  </div>
                  <div class="food-item__descriprion">много, очень</div>
                </div>
              </div>
            </li>
          </ul>
        </li>
        <li class="list__item">
          <input class="list__input" type="checkbox" name="category" id="category-3">
          <label class="list__input-label" for="category-3">
            <svg class="icon" width="32px" height="32px" version="1.1" xmlns="http://www.w3.org/2000/svg">
              <path class="icon__bottom" d="M 2 10 L 16 24 L 30 10  " fill="none" stroke="#808080"
                stroke-linejoin="round" stroke-width="6px" stroke-dasharray="42" stroke-dashoffset="0" />
              <path class="icon__top" d="M 2 24 L 16 10 L 30 24  " fill="none" stroke="#808080" stroke-linejoin="round"
                stroke-width="6px" stroke-dasharray="42" stroke-dashoffset="42" />
            </svg>
            <h4>Category</h4>
          </label>

          <ul class="list__sublist">
            <li class="list__subitem">
              <div class="food-item">
                <div class="food-item__icon food-item__icon_type_none"></div>
                <div class="food-item__text">
                  <div class="food-item__title">
                    <h4>Кура гриля</h4>
                  </div>
                  <div class="food-item__descriprion">много, очень</div>
                </div>
              </div>
            </li>
            <li class="list__subitem">
              <div class="food-item">
                <div class="food-item__icon food-item__icon_type_none"></div>
                <div class="food-item__text">
                  <div class="food-item__title">
                    <h4>Кура гриля</h4>
                  </div>
                  <div class="food-item__descriprion">много, очень</div>
                </div>
              </div>
            </li>
            <li class="list__subitem">
              <div class="food-item">
                <div class="food-item__icon food-item__icon_type_none"></div>
                <div class="food-item__text">
                  <div class="food-item__title">
                    <h4>Кура гриля</h4>
                  </div>
                  <div class="food-item__descriprion">много, очень</div>
                </div>
              </div>
            </li>
            <li class="list__subitem">
              <div class="food-item">
                <div class="food-item__icon food-item__icon_type_none"></div>
                <div class="food-item__text">
                  <div class="food-item__title">
                    <h4>Кура гриля</h4>
                  </div>
                  <div class="food-item__descriprion">много, очень</div>
                </div>
              </div>
            </li>
            <li class="list__subitem">
              <div class="food-item">
                <div class="food-item__icon food-item__icon_type_none"></div>
                <div class="food-item__text">
                  <div class="food-item__title">
                    <h4>Кура гриля</h4>
                  </div>
                  <div class="food-item__descriprion">много, очень</div>
                </div>
              </div>
            </li>
            <li class="list__subitem">
              <div class="food-item">
                <div class="food-item__icon food-item__icon_type_none"></div>
                <div class="food-item__text">
                  <div class="food-item__title">
                    <h4>Кура гриля</h4>
                  </div>
                  <div class="food-item__descriprion">много, очень</div>
                </div>
              </div>
            </li>
            <li class="list__subitem">
              <div class="food-item">
                <div class="food-item__icon food-item__icon_type_none"></div>
                <div class="food-item__text">
                  <div class="food-item__title">
                    <h4>Кура гриля</h4>
                  </div>
                  <div class="food-item__descriprion">много, очень</div>
                </div>
              </div>
            </li>
            <li class="list__subitem">
              <div class="food-item">
                <div class="food-item__icon food-item__icon_type_none"></div>
                <div class="food-item__text">
                  <div class="food-item__title">
                    <h4>Кура гриля</h4>
                  </div>
                  <div class="food-item__descriprion">много, очень</div>
                </div>
              </div>
            </li>
            <li class="list__subitem">
              <div class="food-item">
                <div class="food-item__icon food-item__icon_type_none"></div>
                <div class="food-item__text">
                  <div class="food-item__title">
                    <h4>Кура гриля</h4>
                  </div>
                  <div class="food-item__descriprion">много, очень</div>
                </div>
              </div>
            </li>
            <li class="list__subitem">
              <div class="food-item">
                <div class="food-item__icon food-item__icon_type_none"></div>
                <div class="food-item__text">
                  <div class="food-item__title">
                    <h4>Кура гриля</h4>
                  </div>
                  <div class="food-item__descriprion">много, очень</div>
                </div>
              </div>
            </li>
            <li class="list__subitem">
              <div class="food-item">
                <div class="food-item__icon food-item__icon_type_none"></div>
                <div class="food-item__text">
                  <div class="food-item__title">
                    <h4>Кура гриля</h4>
                  </div>
                  <div class="food-item__descriprion">много, очень</div>
                </div>
              </div>
            </li>
            <li class="list__subitem">
              <div class="food-item">
                <div class="food-item__icon food-item__icon_type_none"></div>
                <div class="food-item__text">
                  <div class="food-item__title">
                    <h4>Кура гриля</h4>
                  </div>
                  <div class="food-item__descriprion">много, очень</div>
                </div>
              </div>
            </li>
            <li class="list__subitem">
              <div class="food-item">
                <div class="food-item__icon food-item__icon_type_none"></div>
                <div class="food-item__text">
                  <div class="food-item__title">
                    <h4>Кура гриля</h4>
                  </div>
                  <div class="food-item__descriprion">много, очень</div>
                </div>
              </div>
            </li>
            <li class="list__subitem">
              <div class="food-item">
                <div class="food-item__icon food-item__icon_type_none"></div>
                <div class="food-item__text">
                  <div class="food-item__title">
                    <h4>Кура гриля</h4>
                  </div>
                  <div class="food-item__descriprion">много, очень</div>
                </div>
              </div>
            </li>
            <li class="list__subitem">
              <div class="food-item">
                <div class="food-item__icon food-item__icon_type_none"></div>
                <div class="food-item__text">
                  <div class="food-item__title">
                    <h4>Кура гриля</h4>
                  </div>
                  <div class="food-item__descriprion">много, очень</div>
                </div>
              </div>
            </li>
            <li class="list__subitem">
              <div class="food-item">
                <div class="food-item__icon food-item__icon_type_none"></div>
                <div class="food-item__text">
                  <div class="food-item__title">
                    <h4>Кура гриля</h4>
                  </div>
                  <div class="food-item__descriprion">много, очень</div>
                </div>
              </div>
            </li>
          </ul>
        </li>
        <li class="list__item">
          <input class="list__input" type="checkbox" name="category" id="category-4">
          <label class="list__input-label" for="category-4">
            <svg class="icon" width="32px" height="32px" version="1.1" xmlns="http://www.w3.org/2000/svg">
              <path class="icon__bottom" d="M 2 10 L 16 24 L 30 10  " fill="none" stroke="#808080"
                stroke-linejoin="round" stroke-width="6px" stroke-dasharray="42" stroke-dashoffset="0" />
              <path class="icon__top" d="M 2 24 L 16 10 L 30 24  " fill="none" stroke="#808080" stroke-linejoin="round"
                stroke-width="6px" stroke-dasharray="42" stroke-dashoffset="42" />
            </svg>
            <h4>Category</h4>
          </label>
          <ul class="list__sublist">
            <li class="list__subitem">
              <div class="food-item">
                <div class="food-item__icon food-item__icon_type_none"></div>
                <div class="food-item__text">
                  <div class="food-item__title">
                    <h4>Кура гриля</h4>
                  </div>
                  <div class="food-item__descriprion">много, очень</div>
                </div>
              </div>
            </li>
            <li class="list__subitem">
              <div class="food-item">
                <div class="food-item__icon food-item__icon_type_none"></div>
                <div class="food-item__text">
                  <div class="food-item__title">
                    <h4>Кура гриля</h4>
                  </div>
                  <div class="food-item__descriprion">много, очень</div>
                </div>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>