
 <div class="logo">
    <img class="logo__icon" src="../img/logo.png" alt="">
    <h1 class="logo__header">dinnager</h1>
</div>

<div class="ui-kit">

    <div class="block">
        <div class="button button_size_2x48px button_type_left">button</div>
        <div class="button button_size_2x48px button_type_square">button</div>
        <div class="button button_size_2x48px button_type_right">button</div>
        <div class="button button_size_2x48px button_type_round">button</div>
    </div>
    <div class="block">
        <div class="button button_size_3x48px button_type_left">button</div>
        <div class="button button_size_3x48px button_type_square">button</div>
        <div class="button button_size_3x48px button_type_right">button</div>
        <div class="button button_size_3x48px button_type_round">button</div>
    </div>

    <div class="block">
        <div class="button button_size_2x64px button_type_left">button</div>
        <div class="button button_size_2x64px button_type_square">button</div>
        <div class="button button_size_2x64px button_type_right">button</div>
        <div class="button button_size_2x64px button_type_round">button</div>
    </div>

    <div class="block">
        <div class="button button_size_3x64px button_type_left">button</div>
        <div class="button button_size_3x64px button_type_square">button</div>
        <div class="button button_size_3x64px button_type_right">button</div>
        <div class="button button_size_3x64px button_type_round">button</div>
    </div>

    <div class="block">
        <div class="toggle-button toggle-button_size_normal">
            <input type="radio" id="toggle-button1" name="select">
            <label for="toggle-button1" class="toggle-button__label"><span>select</span></label>
        </div>
        <div class="toggle-button toggle-button_size_normal">
            <input type="radio" id="toggle-button3" name="select">
            <label for="toggle-button3" class="toggle-button__label"><span>select</span></label>
        </div>
        <div class="toggle-button toggle-button_size_normal">
            <input type="radio" checked id="toggle-button2" name="select">
            <label for="toggle-button2" class="toggle-button__label"><span>select</span></label>
        </div>
        <div class="toggle-button toggle-button_size_normal">
            <input type="radio" id="toggle-button5" name="select">
            <label for="toggle-button5" class="toggle-button__label"><span>select</span></label>
        </div>

        <div class="toggle-button toggle-button_size_small">
            <input type="radio" id="toggle-button4" name="select">
            <label for="toggle-button4" class="toggle-button__label"><span>select</span></label>
        </div>
    </div>

    <div class="block">
        <div class="date date_size_small">
            <span class="date__month-date">20</span>
            <span class="date__day-of-week">Monday</span>
        </div>

        <div class="date date_size_normal">
            <span class="date__month-date">20</span>
            <span class="date__day-of-week">Monday</span>
        </div>

        <div class="date date_size_larg">
            <span class="date__month-date">20</span>
            <span class="date__day-of-week">Monday</span>
        </div>

    </div>
    <div class="block">
        <table class="table">
            <tr>
                <th class="table__header">chtlytt <br>lkz</th>
                <th class="table__header">header</th>
                <th class="table__header">header</th>
                <th class="table__header">header</th>
                <th class="table__header">header</th>
                <th class="table__header">header</th>
            </tr>
            <tr>
                <td class="table__data">data</td>
                <td class="table__data">data</td>
                <td class="table__data">data</td>
                <td class="table__data">data</td>
                <td class="table__data">data</td>
                <td class="table__data">data</td>
            </tr>
            <tr>
                <td class="table__data">data</td>
                <td class="table__data">data</td>
                <td class="table__data">data</td>
                <td class="table__data">data</td>
                <td class="table__data">data</td>
                <td class="table__data">data</td>
            </tr>
            <tr>
                <td class="table__data">data</td>
                <td class="table__data">data</td>
                <td class="table__data">data</td>
                <td class="table__data">data</td>
                <td class="table__data">data</td>
                <td class="table__data">data</td>
            </tr>
            <tr>
                <td class="table__data">data</td>
                <td class="table__data">data</td>
                <td class="table__data">data</td>
                <td class="table__data">data</td>
                <td class="table__data">data</td>
                <td class="table__data">data</td>
            </tr>
            <tr>
                <th class="table__header">data</th>
                <td class="table__data">data</td>
                <td class="table__data">data</td>
                <td class="table__data">data</td>
                <td class="table__data">data</td>
                <td class="table__data">data</td>
            </tr>
        </table>

    </div>

    <div class="block search-block">
        <ul class="select-list">
            <li class="select-list__item">
                <input type="radio" name="select-item" id="select-item-favorites">
                <label class="select-list__label" for="select-item-favorites">избранное</label>
            </li>
            <li class="select-list__item">
                <input type="radio" name="select-item" id="select-item-category">
                <label class="select-list__label" for="select-item-category">категории</label>
            </li>
            <li class="select-list__item">
                <input type="radio" checked name="select-item" id="select-item-search">
                <label class="select-list__label" for="select-item-search">поиск</label>
            </li>
        </ul>

        <div class="search-block__controls">
            <div class="text-field">
                <input class="text-field__input" type="text" name="text" id="text">
                <label class="text-field__label" for="text">field name</label>
            </div>
        </div>
        <div class="search-block__search-result">
            <ul class="list">
                <li class="list__item">
                    <input class="list__input" type="checkbox" name="category" id="category-1">
                    <label class="list__input-label" for="category-1">
                        <svg class="icon" width="32px" height="32px" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <path class="icon__bottom" d="M 2 10 L 16 24 L 30 10  " fill="none" stroke="#808080"
                                stroke-linejoin="round" stroke-width="6px" stroke-dasharray="42"
                                stroke-dashoffset="0" />
                            <path class="icon__top" d="M 2 24 L 16 10 L 30 24  " fill="none" stroke="#808080"
                                stroke-linejoin="round" stroke-width="6px" stroke-dasharray="42"
                                stroke-dashoffset="42" />
                        </svg>
                        <h4>Category</h4>
                    </label>
                    <ul class="list__sublist">
                        <li class="list__subitem">
                            <div class="food-item">
                                <div class="food-item__icon food-item__icon_type_none"></div>
                                <div class="food-item__text">
                                    <div class="food-item__title">
                                        <h4>Кура гриля</h4>
                                    </div>
                                    <div class="food-item__descriprion">много, очень</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="list__item">
                    <input class="list__input" type="checkbox" name="category" id="category-2">
                    <label class="list__input-label" for="category-2">
                        <svg class="icon" width="32px" height="32px" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <path class="icon__bottom" d="M 2 10 L 16 24 L 30 10  " fill="none" stroke="#808080"
                                stroke-linejoin="round" stroke-width="6px" stroke-dasharray="42"
                                stroke-dashoffset="0" />
                            <path class="icon__top" d="M 2 24 L 16 10 L 30 24  " fill="none" stroke="#808080"
                                stroke-linejoin="round" stroke-width="6px" stroke-dasharray="42"
                                stroke-dashoffset="42" />
                        </svg>
                        <h4>Category</h4>
                    </label>
                    <ul class="list__sublist">
                        <li class="list__subitem">
                            <div class="food-item">
                                <div class="food-item__icon food-item__icon_type_none"></div>
                                <div class="food-item__text">
                                    <div class="food-item__title">
                                        <h4>Кура гриля</h4>
                                    </div>
                                    <div class="food-item__descriprion">много, очень</div>
                                </div>
                            </div>
                        </li>
                        <li class="list__subitem">
                            <div class="food-item">
                                <div class="food-item__icon food-item__icon_type_none"></div>
                                <div class="food-item__text">
                                    <div class="food-item__title">
                                        <h4>Кура гриля</h4>
                                    </div>
                                    <div class="food-item__descriprion">много, очень</div>
                                </div>
                            </div>
                        </li>
                        <li class="list__subitem">
                            <div class="food-item">
                                <div class="food-item__icon food-item__icon_type_none"></div>
                                <div class="food-item__text">
                                    <div class="food-item__title">
                                        <h4>Кура гриля</h4>
                                    </div>
                                    <div class="food-item__descriprion">много, очень</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="list__item">
                    <input class="list__input" type="checkbox" name="category" id="category-3">
                    <label class="list__input-label" for="category-3">
                        <svg class="icon" width="32px" height="32px" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <path class="icon__bottom" d="M 2 10 L 16 24 L 30 10  " fill="none" stroke="#808080"
                                stroke-linejoin="round" stroke-width="6px" stroke-dasharray="42"
                                stroke-dashoffset="0" />
                            <path class="icon__top" d="M 2 24 L 16 10 L 30 24  " fill="none" stroke="#808080"
                                stroke-linejoin="round" stroke-width="6px" stroke-dasharray="42"
                                stroke-dashoffset="42" />
                        </svg>
                        <h4>Category</h4>
                    </label>

                    <ul class="list__sublist">
                        <li class="list__subitem">
                            <div class="food-item">
                                <div class="food-item__icon food-item__icon_type_none"></div>
                                <div class="food-item__text">
                                    <div class="food-item__title">
                                        <h4>Кура гриля</h4>
                                    </div>
                                    <div class="food-item__descriprion">много, очень</div>
                                </div>
                            </div>
                        </li>
                        <li class="list__subitem">
                            <div class="food-item">
                                <div class="food-item__icon food-item__icon_type_none"></div>
                                <div class="food-item__text">
                                    <div class="food-item__title">
                                        <h4>Кура гриля</h4>
                                    </div>
                                    <div class="food-item__descriprion">много, очень</div>
                                </div>
                            </div>
                        </li>
                        <li class="list__subitem">
                            <div class="food-item">
                                <div class="food-item__icon food-item__icon_type_none"></div>
                                <div class="food-item__text">
                                    <div class="food-item__title">
                                        <h4>Кура гриля</h4>
                                    </div>
                                    <div class="food-item__descriprion">много, очень</div>
                                </div>
                            </div>
                        </li>
                        <li class="list__subitem">
                            <div class="food-item">
                                <div class="food-item__icon food-item__icon_type_none"></div>
                                <div class="food-item__text">
                                    <div class="food-item__title">
                                        <h4>Кура гриля</h4>
                                    </div>
                                    <div class="food-item__descriprion">много, очень</div>
                                </div>
                            </div>
                        </li>
                        <li class="list__subitem">
                            <div class="food-item">
                                <div class="food-item__icon food-item__icon_type_none"></div>
                                <div class="food-item__text">
                                    <div class="food-item__title">
                                        <h4>Кура гриля</h4>
                                    </div>
                                    <div class="food-item__descriprion">много, очень</div>
                                </div>
                            </div>
                        </li>
                        <li class="list__subitem">
                            <div class="food-item">
                                <div class="food-item__icon food-item__icon_type_none"></div>
                                <div class="food-item__text">
                                    <div class="food-item__title">
                                        <h4>Кура гриля</h4>
                                    </div>
                                    <div class="food-item__descriprion">много, очень</div>
                                </div>
                            </div>
                        </li>
                        <li class="list__subitem">
                            <div class="food-item">
                                <div class="food-item__icon food-item__icon_type_none"></div>
                                <div class="food-item__text">
                                    <div class="food-item__title">
                                        <h4>Кура гриля</h4>
                                    </div>
                                    <div class="food-item__descriprion">много, очень</div>
                                </div>
                            </div>
                        </li>
                        <li class="list__subitem">
                            <div class="food-item">
                                <div class="food-item__icon food-item__icon_type_none"></div>
                                <div class="food-item__text">
                                    <div class="food-item__title">
                                        <h4>Кура гриля</h4>
                                    </div>
                                    <div class="food-item__descriprion">много, очень</div>
                                </div>
                            </div>
                        </li>
                        <li class="list__subitem">
                            <div class="food-item">
                                <div class="food-item__icon food-item__icon_type_none"></div>
                                <div class="food-item__text">
                                    <div class="food-item__title">
                                        <h4>Кура гриля</h4>
                                    </div>
                                    <div class="food-item__descriprion">много, очень</div>
                                </div>
                            </div>
                        </li>
                        <li class="list__subitem">
                            <div class="food-item">
                                <div class="food-item__icon food-item__icon_type_none"></div>
                                <div class="food-item__text">
                                    <div class="food-item__title">
                                        <h4>Кура гриля</h4>
                                    </div>
                                    <div class="food-item__descriprion">много, очень</div>
                                </div>
                            </div>
                        </li>
                        <li class="list__subitem">
                            <div class="food-item">
                                <div class="food-item__icon food-item__icon_type_none"></div>
                                <div class="food-item__text">
                                    <div class="food-item__title">
                                        <h4>Кура гриля</h4>
                                    </div>
                                    <div class="food-item__descriprion">много, очень</div>
                                </div>
                            </div>
                        </li>
                        <li class="list__subitem">
                            <div class="food-item">
                                <div class="food-item__icon food-item__icon_type_none"></div>
                                <div class="food-item__text">
                                    <div class="food-item__title">
                                        <h4>Кура гриля</h4>
                                    </div>
                                    <div class="food-item__descriprion">много, очень</div>
                                </div>
                            </div>
                        </li>
                        <li class="list__subitem">
                            <div class="food-item">
                                <div class="food-item__icon food-item__icon_type_none"></div>
                                <div class="food-item__text">
                                    <div class="food-item__title">
                                        <h4>Кура гриля</h4>
                                    </div>
                                    <div class="food-item__descriprion">много, очень</div>
                                </div>
                            </div>
                        </li>
                        <li class="list__subitem">
                            <div class="food-item">
                                <div class="food-item__icon food-item__icon_type_none"></div>
                                <div class="food-item__text">
                                    <div class="food-item__title">
                                        <h4>Кура гриля</h4>
                                    </div>
                                    <div class="food-item__descriprion">много, очень</div>
                                </div>
                            </div>
                        </li>
                        <li class="list__subitem">
                            <div class="food-item">
                                <div class="food-item__icon food-item__icon_type_none"></div>
                                <div class="food-item__text">
                                    <div class="food-item__title">
                                        <h4>Кура гриля</h4>
                                    </div>
                                    <div class="food-item__descriprion">много, очень</div>
                                </div>
                            </div>
                        </li>
                        <li class="list__subitem">
                            <div class="food-item">
                                <div class="food-item__icon food-item__icon_type_none"></div>
                                <div class="food-item__text">
                                    <div class="food-item__title">
                                        <h4>Кура гриля</h4>
                                    </div>
                                    <div class="food-item__descriprion">много, очень</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="list__item">
                    <input class="list__input" type="checkbox" name="category" id="category-4">
                    <label class="list__input-label" for="category-4">
                        <svg class="icon" width="32px" height="32px" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <path class="icon__bottom" d="M 2 10 L 16 24 L 30 10  " fill="none" stroke="#808080"
                                stroke-linejoin="round" stroke-width="6px" stroke-dasharray="42"
                                stroke-dashoffset="0" />
                            <path class="icon__top" d="M 2 24 L 16 10 L 30 24  " fill="none" stroke="#808080"
                                stroke-linejoin="round" stroke-width="6px" stroke-dasharray="42"
                                stroke-dashoffset="42" />
                        </svg>
                        <h4>Category</h4>
                    </label>
                    <ul class="list__sublist">
                        <li class="list__subitem">
                            <div class="food-item">
                                <div class="food-item__icon food-item__icon_type_none"></div>
                                <div class="food-item__text">
                                    <div class="food-item__title">
                                        <h4>Кура гриля</h4>
                                    </div>
                                    <div class="food-item__descriprion">много, очень</div>
                                </div>
                            </div>
                        </li>
                        <li class="list__subitem">
                            <div class="food-item">
                                <div class="food-item__icon food-item__icon_type_none"></div>
                                <div class="food-item__text">
                                    <div class="food-item__title">
                                        <h4>Кура гриля</h4>
                                    </div>
                                    <div class="food-item__descriprion">много, очень</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="block">
        <div class="text-field">
            <input class="text-field__input" type="text" name="text" id="text">
            <label class="text-field__label" for="text">field name</label>
        </div>
    </div>

    <div class="block">
        <div class="food-item">
            <div class="food-item__icon food-item__icon_type_none"></div>
            <div class="food-item__text">
                <div class="food-item__title">
                    <h4>Кура гриля</h4>
                </div>
                <div class="food-item__descriprion">много, очень</div>
            </div>
        </div>
    </div>

    <div class="block">
        <svg width="48px" height="160px" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <rect x="0" y="0" width="100%" height="100%" fill="#68d97b" />
        </svg>

        <svg width="48px" height="160px" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <rect x="0" y="0" width="100%" height="100%" fill="#68d97b" />
        </svg>

        <svg width="48px" height="160px" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <rect x="0" y="0" width="100%" height="100%" fill="#68d97b" />
        </svg>

        <svg width="48px" height="160px" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <rect x="0" y="0" width="100%" height="100%" fill="#68d97b" />
        </svg>
    </div>

    <div class="block">
        <svg width="48px" height="160px" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <rect class="column__red-column" x="0" y="0" width="30%" height="100%" fill="#f14150" />
            <rect class="column__yellowd-column" x="33.333%" y="0" width="30%" height="100%" fill="#f5f557" />
            <rect class="column__green-column" x="66.666%" y="0" width="30%" height="100%" fill="#68d97b" />
        </svg>

        <svg width="48px" height="160px" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <rect class="column__red-column" x="0" y="0" width="30%" height="100%" fill="#f14150" />
            <rect class="column__yellowd-column" x="33.333%" y="0" width="30%" height="100%" fill="#f5f557" />
            <rect class="column__green-column" x="66.666%" y="0" width="30%" height="100%" fill="#68d97b" />
        </svg>

        <svg width="48px" height="160px" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <rect class="column__red-column" x="0" y="0" width="30%" height="100%" fill="#f14150" />
            <rect class="column__yellowd-column" x="33.333%" y="0" width="30%" height="100%" fill="#f5f557" />
            <rect class="column__green-column" x="66.666%" y="0" width="30%" height="100%" fill="#68d97b" />
        </svg>

        <svg width="48px" height="160px" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <rect class="column__red-column" x="0" y="0" width="30%" height="100%" fill="#f14150" />
            <rect class="column__yellowd-column" x="33.333%" y="0" width="30%" height="100%" fill="#f5f557" />
            <rect class="column__green-column" x="66.666%" y="0" width="30%" height="100%" fill="#68d97b" />
        </svg>
    </div>

    <div class="block">
        <svg width="160px" height="160px" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <g>
                <circle cx="50%" cy="50%" r="70" fill="none" stroke="#f14150" stroke-width="10" stroke-dasharray="440"
                    stroke-dashoffset="0" />
                <circle cx="50%" cy="50%" r="70" fill="none" stroke="#f5f557" stroke-width="14" stroke-dasharray="440"
                    stroke-dashoffset="220" />
                <circle cx="50%" cy="50%" r="70" fill="none" stroke="#68d97b" stroke-width="18" stroke-dasharray="440"
                    stroke-dashoffset="400" />
            </g>
        </svg>

        <svg width="160px" height="160px" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <g>
                <circle cx="50%" cy="50%" r="70" fill="none" stroke="#f14150" stroke-width="10" stroke-dasharray="440"
                    stroke-dashoffset="0" />
                <circle cx="50%" cy="50%" r="70" fill="none" stroke="#f5f557" stroke-width="14" stroke-dasharray="440"
                    stroke-dashoffset="220" />
                <circle cx="50%" cy="50%" r="70" fill="none" stroke="#68d97b" stroke-width="18" stroke-dasharray="440"
                    stroke-dashoffset="400" />
            </g>
        </svg>

        <svg width="160px" height="160px" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <g>
                <circle cx="50%" cy="50%" r="70" fill="none" stroke="#f14150" stroke-width="10" stroke-dasharray="440"
                    stroke-dashoffset="0" />
                <circle cx="50%" cy="50%" r="70" fill="none" stroke="#f5f557" stroke-width="14" stroke-dasharray="440"
                    stroke-dashoffset="220" />
                <circle cx="50%" cy="50%" r="70" fill="none" stroke="#68d97b" stroke-width="18" stroke-dasharray="440"
                    stroke-dashoffset="400" />
            </g>
        </svg>

        <svg width="160px" height="160px" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <g>
                <circle cx="50%" cy="50%" r="70" fill="none" stroke="#f14150" stroke-width="10" stroke-dasharray="440"
                    stroke-dashoffset="0" />
                <circle cx="50%" cy="50%" r="70" fill="none" stroke="#f5f557" stroke-width="14" stroke-dasharray="440"
                    stroke-dashoffset="220" />
                <circle cx="50%" cy="50%" r="70" fill="none" stroke="#68d97b" stroke-width="18" stroke-dasharray="440"
                    stroke-dashoffset="400" />
            </g>
        </svg>

    </div>

    <!--<div class="block">
        <svg width="548px" height="330px">
            <path id="p1" d="M 0 100 H 51 L 102 200 
              H 119 H 136 L 187 300
              H 204 H 221 L 272 150
              H 289 H 306 L 357 250
              H 374 H 391 L 442 310
              H 459 H 476 L 527 190
              H 544 H 548 
              " fill="none" stroke="#808080" stroke-linejoin="round" stroke-width="8px">
                <animate dur="4s" values="10; 20" keyTimes="0; 1" calcMode="spline" keySplines={as in table} />

                <animate xlink:href="#p1" attributeName="d" attributeType="XML" from="M 0 300 H 51 L 102 300 
     H 119 H 136 L 187 300
     H 204 H 221 L 272 300
     H 289 H 306 L 357 300
     H 374 H 391 L 442 300
     H 459 H 476 L 527 300
     H 544 H 548 " to="M 0 100 H 51 L 102 200 
         H 119 H 136 L 187 300
         H 204 H 221 L 272 150
         H 289 H 306 L 357 250
         H 374 H 391 L 442 310
         H 459 H 476 L 527 190
         H 544 H 548 
         " dur="3s" repeatCount="indefinite" />
            </path>
        </svg>
    </div>

    <div class="block">
        <svg width="32px" height="32px" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <path class="icon__bottom" d="M 2 10 L 16 24 L 30 10  " fill="none" stroke="#808080" stroke-linejoin="round"
                stroke-width="6px" stroke-dasharray="42" stroke-dashoffset="0" />
            <path class="icon__top" d="M 2 24 L 16 10 L 30 24  " fill="none" stroke="#808080" stroke-linejoin="round"
                stroke-width="6px" stroke-dasharray="42" stroke-dashoffset="42" />
        </svg>
    </div>


    <div class="block icon-pack">
        <svg width="40" height="40" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <rect x="0" y="0" width="40" height="8" fill="#f00" />
            <rect x="12.66" y="10" width="2" height="30" fill="#f00" />
            <rect x="25.33" y="10" width="2" height="30" fill="#f00" />
            <rect x="38" y="10" width="2" height="30" fill="#f00" />
            <rect x="0" y="10" width="2" height="30" fill="#f00" />
            <rect x="0" y="10" width="40" height="2" fill="#f00" />
            <rect x="0" y="38" width="40" height="2" fill="#f00" />
        </svg>

        <svg width="40" height="40" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <rect x="0" y="23" width="8" height="40" fill="#444" />
            <rect x="10" y="17" width="8" height="40" fill="#444" />
            <rect x="20" y="7" width="8" height="40" fill="#444" />
            <rect x="30" y="0" width="8" height="40" fill="#444" />
        </svg>
    </div>

    <div class="block">
        <h1 class="heading heading_size_larg">H1 header</h1>
        <h2 class="heading heading_size_big">H2 header</h2>
        <h3 class="heading heading_size_normal">H3 header</h3>
        <h4 class="heading heading_size_small">H4 header</h4>
        <h5 class="heading heading_size_little">H5 header</h5>
    </div>

    <div class="block">
        <div class="progressbar">
            <div class="progressbar__fill">
            </div>
        </div>
    </div>
</div> -->