<header class="header">
    <div class="header__logo">
        <div class="logo">
            <img class="logo__icon" src="../../assets/img/logo.png" alt="">
            <h1 class="logo__header">dinnager</h1>
        </div>
    </div>
    <nav class="header__navigation">
        <div class="header__links">

            <div class="button button_size_2x48px button_type_left">Главная</div>
            <div class="button button_size_2x48px button_type_square">Статистика</div>
            <div class="button button_size_2x48px button_type_square">Дневник</div>
            <div class="button button_size_2x48px button_type_right">Профиль</div>
        </div>
    </nav>
</header>

<div class="statistics">
    <div class="statistics__graph block">
        <div class="slider week-select">

            <div (click)="prevWeek()" class="slider__prev"><img src="../../assets/img/left.png" alt=""></div>
            <h2 class="slider__text">Номер недели {{weekNumber(date)}}</h2>
            <div (click)="nextWeek()" class="slider__next"><img src="../../assets/img/right.png" alt=""></div>

        </div>
        <svg width="548px" height="330px">
            <path id="p1" [attr.d]="statDiogram"
                fill="none" stroke="#808080" stroke-linejoin="round" stroke-width="8px" />
        </svg>
        <div class="statistics__graph-dates">
            <div (click)="selectDay(day)" *ngFor="let day of week" class="date date_size_small">
                <span class="date__month-date">{{day.getDate()}}</span>
                <span class="date__day-of-week">{{getStringDay(day)}}</span>
            </div>
        </div>
    </div>
    <div class="statistics__elements">
        <app-statistic-diogram-block [data]="avgData" class="statistics__bfc block"></app-statistic-diogram-block>
        <app-statistics-micro-block [data]="avgData" class="block" ></app-statistics-micro-block>
    </div>
    <div class="statistics__recomendations">
        <div class="statistics__recomendation block">
            <h2 class="statistics__recomendation-header">Рекомендации</h2>
            <p class="statistics__recomendation-text">рекомендую</p>
        </div>
        <div class="statistics__recomendation block">
            <h2 class="statistics__recomendation-header">Рекомендации</h2>
            <p class="statistics__recomendation-text">рекомендую</p>
        </div>
    </div>

</div>

<div class="additional-data">
    <app-statistic-data-block class="additional-data__block block" [data]="data1" [title]="title[0]">
    </app-statistic-data-block>
    <app-statistic-data-block class="additional-data__block block" [data]="data2" [title]="title[1]">
    </app-statistic-data-block>
    <app-statistic-data-block class="additional-data__block block" [data]="data3" [title]="title[2]">
    </app-statistic-data-block>

</div>