<div class="block">
    <table class="table">
        <tr>
            <th class="table__header">chtlytt <br>lkz</th>
            <th class="table__header">header</th>
            <th class="table__header">header</th>
            <th class="table__header">header</th>
            <th class="table__header">header</th>
            <th class="table__header">header</th>
        </tr>
        <tr>
            <td class="table__data">data</td>
            <td class="table__data">data</td>
            <td class="table__data">data</td>
            <td class="table__data">data</td>
            <td class="table__data">data</td>
            <td class="table__data">data</td>
        </tr>
        <tr>
            <td class="table__data">data</td>
            <td class="table__data">data</td>
            <td class="table__data">data</td>
            <td class="table__data">data</td>
            <td class="table__data">data</td>
            <td class="table__data">data</td>
        </tr>
        <tr>
            <td class="table__data">data</td>
            <td class="table__data">data</td>
            <td class="table__data">data</td>
            <td class="table__data">data</td>
            <td class="table__data">data</td>
            <td class="table__data">data</td>
        </tr>
    </table>
</div>