@import "../../assets/scss/style.scss";


.wraper {
    margin: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &>* {
        margin-top: 24px;
    }

    // *.ng-touched.ng-invalid {
    //     border-color: $main_color;
    //     color: $main_color;

    // }

    // *.ng-touched.ng-valid {
    //     border-color: $additional_color;
    // }

}