
    <header class="header">
        <div class="header__logo">
            <div class="logo">
                <img class="logo__icon" src={{logoPath}} alt="">
                <h1 class="logo__header">dinnager</h1>
            </div>
        </div>
        <nav class="header__navigation">
            <div class="header__links">
                <div (click)="button('sign up')" class="button button_size_3x64px button_type_round">Регистрация</div>
                <div (click)="button('sign in')" class="button button_size_2x64px button_type_round">Вход</div>
            </div>
        </nav>
    </header>

    <div class="information">
        <div class="informtation__blocks">
            <div class="block informtation__block">
                <h2 class="heading information__heading">Калькулятор калорий</h2>
                <img class="information__img" src="../../assets/img/circle.png" alt="circle">
                <p class="information__text">
                    Калькулятор калорий позволит вам рассчитать то количество энергии, которое необходимо ежедневно получать вашему организму.
                </p>
            </div>

            <div class="block informtation__block">
                <h2 class="heading information__heading">Дневник питания</h2>
                <img class="information__img" src="../../assets/img/book.png" alt="circle">
                <p class="information__text">
                    Дневник питания помогает вам следить за потреблением
                    микро и макро элементов. 
                </p>
            </div>

            <div class="block informtation__block">
                <h2 class="heading information__heading">Список продуктов</h2>
                <img class="information__img" src="../../assets/img/list.png" alt="circle">
                <p class="information__text">
                    Возможность получить список продуктов по заранее составленому меню.
                </p>
            </div>
        </div>
        <div class="learn-more">
            <div class="button button_size_3x64px button_type_round">подробнее</div>
        </div>
    </div>

    <div *ngIf="action" class="form_background">
        <app-sign-in-form class="block form-component" *ngIf="action=='sign in'"></app-sign-in-form>
        <app-registration-form class="block form-component" *ngIf="action=='sign up'"></app-registration-form>
        <div (click)="button('')" *ngIf="action" class="form_background"></div>
    </div>
